Markdown
Send2Trash
brotlipy
contourpy
gpustat
higher
hydra-core
icecream
langcodes
modelscope
notebook_shim
openai
peft
pip-chill
prometheus_client
prompt_toolkit
propcache
pyOpenSSL
pydantic_core
qwen-vl-utils>=0.0.14
sentence-transformers
supervisor
thinc
toolz
transformers-stream-generator
weasel
transformers>=4.57.0,<6
